.employee-item {
    list-style: none;
    margin: 1rem 0;
}

.employee-item__content {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f2f2f2;
    padding: 0.5rem;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f9f9f9;
}
